:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  font-family: sans-serif;
  color: rgb(var(--foreground-rgb));
}

a {
  text-decoration: none;
  color: rgb(var(--foreground-rgb));
}
